[submodule "verkefni-1"]
	path = verkefni-1
	url = https://github.com/marteinnsi/verkefni-1.git
[submodule "verkefni-2"]
	path = verkefni-2
	url = https://github.com/marteinnsi/verkefni-2.git
[submodule "verkefni-3"]
	path = verkefni-3
	url = https://github.com/marteinnsi/verkefni-3.git
[submodule "verkefni-4"]
	path = verkefni-4
	url = https://github.com/marteinnsi/verkefni-4.git
[submodule "verkefni-5"]
	path = verkefni-5
	url = https://github.com/marteinnsi/verkefni-5.git
[submodule "verkefni-6"]
	path = verkefni-6
	url = https://github.com/marteinnsi/verkefni-6.git
