* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

html {
    background-color: #333333;
}

li {
    list-style-type: none;
}

li:nth-of-type(odd) {
    background-color: #444444;
}

li:nth-of-type(even) {
    background-color: #494949;
}

li a {
    display: block;
    padding: 2em;
    font-family: sans-serif;
    color: #b2b2b2;
    text-decoration: none;
}

li a::after {
    content: ' (open in new tab)';
}